<div class="divider"></div>
  <span class="page-title">Start a Story</span>
  <form action="/stories" method="post" id="new-story-form" autocomplete="off">

    <div class="span-12">
      <p><input type="text" name="title" placeholder="Title" id="submit-title" class="off-4 span-6"></p>
    </div>

    <div class="span-12">
      <p><input type="text" name="author" placeholder="Author" id="submit-author" class="off-4 span-3"><!--
      --><input type="text" name="genre" placeholder="Genre" id="submit-genre" class="off-2 span-2"></p>
    </div>

    <div class="span-12">
      <input type="text" name="chaptername" placeholder="Chapter Title" id="submit-chaptername" class="off-4 span-6">
    </div>
</div>



  <div class="span-12 full-page">
    <textarea type="text" name="body" placeholder="Lets make some magic..." id="submit-body" rows="30" class="off-4 span-6 full-page"></textarea><br>

<p><button id="submit-button" class="span-2 off-6">Create</button></p>

</form>
</div>

