<form action="/stories" method="post" id="new-story-form">

<input type="text" name="title" placeholder="Title"></p>

<input type="text" name="author" placeholder="Author"></p>

<input type="text" name="genre" placeholder="Genre"></p>

<input type="text" name="chaptername" placeholder="Chapter Title"></p>

<input type="text" name="body" placeholder="body"></p>

<button>submit</button>

</form>
