<div class="full-page">

<span class="span-12 divider"></span>

<div id="home-icons" class="span-12">
  
  <a href="/createstory">
    <div class="icon-box span-2 off-3">
      <img src="/images/submit.png" alt=""><br> <span id="icon-label">Start</span><br> a story
    </div>
  </a>

  <a href="/stories/new">
    <div class="icon-box span-2 off-2">
      <img src="/images/browse.png" alt=""><br> <span id="icon-label">Browse</span><br> stories
    </div>
  </a>

  <a href="/stories/new">
    <div class="icon-box span-2 off-2">
      <img src="/images/contribute.png" alt=""><br> <span id="icon-label">Add</span><br> to a story
    </div>
  </a>

</div>

<div class="divider"></div>

<!-- <div class="span-12">
  <img src="/images/learnmore.png" alt="" class="learnmore">
</div> -->

</div>

<div class="half-page">
<div id="about" class="span-10 off-2">
  <h3>Share your story</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ipsa ab, quaerat natus esse, quisquam officia voluptates accusamus reprehenderit omnis repudiandae magni. Suscipit expedita, dolores, eligendi optio tempore corporis esse nisi, vitae numquam repellendus iure, in enim? Suscipit eos, cumque ullam reiciendis eius eligendi sapiente repudiandae, aliquid non at officiis vero officia cum labore voluptatibus aspernatur sunt laudantium ducimus? Rerum doloremque veritatis, inventore unde perspiciatis cupiditate facere voluptatum quo accusantium optio quos? Iste commodi harum ex totam rem iure sapiente eveniet, cupiditate provident, dignissimos magni voluptate, saepe autem repudiandae tenetur? Dicta saepe cupiditate et, hic quia molestiae in voluptate. Dolorem maiores iure minima fugiat harum eum impedit repellat quis cupiditate eius, deleniti quas temporibus molestias, sint. Eum quas tempora ex officiis ut dignissimos unde harum voluptatibus aspernatur quam maiores ipsam, non nostrum aut! Soluta illum ipsam totam harum animi reiciendis dolore alias iusto commodi aut quo veniam ipsa unde, aspernatur. Distinctio architecto laudantium beatae esse adipisci, nam iste molestias itaque. Dolor nemo commodi harum, incidunt at minima quos dolore quisquam nobis quae natus omnis. Rem quaerat saepe iusto earum, velit cum totam error! Sit vero adipisci praesentium quis consectetur perspiciatis illo eum et cupiditate ea iste deserunt itaque, dolorem alias.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ipsa ab, quaerat natus esse, quisquam officia voluptates accusamus reprehenderit omnis repudiandae magni. Suscipit expedita, dolores, eligendi optio tempore corporis esse nisi, vitae numquam repellendus iure, in enim? Suscipit eos, cumque ullam reiciendis eius eligendi sapiente repudiandae, aliquid non at officiis vero officia cum labore voluptatibus aspernatur sunt laudantium ducimus? Rerum doloremque veritatis, inventore unde perspiciatis cupiditate facere voluptatum quo accusantium optio quos? Iste commodi harum ex totam rem iure sapiente eveniet, cupiditate provident, dignissimos magni voluptate, saepe autem repudiandae tenetur? Dicta saepe cupiditate et, hic quia molestiae in voluptate. Dolorem maiores iure minima fugiat harum eum impedit repellat quis cupiditate eius, deleniti quas temporibus molestias, sint. Eum quas tempora ex officiis ut dignissimos unde harum voluptatibus aspernatur quam maiores ipsam, non nostrum aut! Soluta illum ipsam totam harum animi reiciendis dolore alias iusto commodi aut quo veniam ipsa unde, aspernatur. Distinctio architecto laudantium beatae esse adipisci, nam iste molestias itaque. Dolor nemo commodi harum, incidunt at minima quos dolore quisquam nobis quae natus omnis. Rem quaerat saepe iusto earum, velit cum totam error! Sit vero adipisci praesentium quis consectetur perspiciatis illo eum et cupiditate ea iste deserunt itaque, dolorem alias.
  </p>
</div>
</div>