<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Story Time</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel='stylesheet' href='/stylesheets/grid-layout.css'>
  <script src="/javascripts/jquery.js"></script>

</head>
<body>
<div class="full-page">
<div id="banner" class="span-12">
  Story Time <img src="/images/logo.png" alt="" id="logo-image">
</div>
<nav class="span-12" id="navbar">
  <ul class="off-2">
    <li class="span-1 off-4"><a href="/">Home</a></li>
    <li class="span-1"><a href="/about">About</a></li>
    <li class="span-1"><a href="/createstory">Create</a></li>
    <li class="span-1"><a href="/stories/new">Browse</a></li>
    <li class="span-1"><a href="/stories/new">Contribute</a></li>
  </ul>
</nav>

  <%= yield %>
</div>
</body>

<script>

  $(window).on('scroll load', function () {
    if ($(window).scrollTop() > 120) {
         $('#navbar').addClass('fixednavbar');
         $('#home-icons').addClass('navbar-safeguard');
         $('.page-title').addClass('navbar-safeguard');
    } else {
         $('#navbar').removeClass('fixednavbar');
         $('#home-icons').removeClass('navbar-safeguard');
         $('.page-title').removeClass('navbar-safeguard');
    }
});
  </script>